Repository ttwrpz/react-native-wake-lock, changes with the labels that .github/labeler.yml gives for each.
All labels: android, ios, documentation, dependencies, typescript, ci, tests

.github/labeler.yml:

android:
  - android/**/*

ios:
  - ios/**/*

documentation:
  - README.md
  - INSTALL.md
  - docs/**/*

dependencies:
  - package.json
  - yarn.lock

typescript:
  - src/**/*.ts
  - src/**/*.tsx
  - tsconfig.json
  - tsconfig.build.json

ci:
  - .github/**/*

tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - jest.config.js

ci: Fixed package.json defines "packageManager": "yarn@4.9.4".
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Labels: ci

ci: Removed yarn v1 cache from Setup Node.js
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Labels: ci

ci: Fixed eslint not working
  .eslintrc.js
  .github/workflows/ci.yml
  eslint.config.js
  package.json
  src/NativeWakeLock.ts
  src/WakeLockManager.ts
  src/hooks.ts
  src/index.ts
  src/types.ts
  yarn.lock
Labels: dependencies, typescript, ci

ci: Fixed Couldn't find a script named "audit" on Yarn@4
  .github/workflows/security.yml
Labels: ci

ci: Fixed Couldn't find a script named "audit" on Yarn@4
  .github/workflows/security.yml
Labels: ci

ci: Testing if NODE_AUTH_TOKEN work on .workflow
  .github/workflows/release.yml
  .npmrc
Labels: ci

ci: Testing if NODE_AUTH_TOKEN work on .workflow
  package.json
Labels: dependencies

ci: Testing if NODE_AUTH_TOKEN work on .workflow
  .github/workflows/release.yml
Labels: ci
